// Common color palette
$color-primary: #3977C0;
$color-secondary: #922D50;
$color-success: #5DBE92;
$color-danger: #922D50;
$color-warning: #D16014;
$color-info: #EECF6D;
$color-dark: #222A68;

// Generic colors
$color-white: #FFFFFF;
$color-black: #000000;
